In [2]:
# Cargamos nuestras librerias
import polars as pl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm

import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pl.read_parquet("../DATASETS/fugas.parquet.gzip")

In [6]:
df = data.with_columns(
    alcaldia = pl.col("alcaldia_catalogo").str.to_uppercase(),
    colonia = pl.col("colonia_catalogo").str.to_uppercase(),
    day=pl.col("fecha_reporte").dt.day(),
    month=pl.col("fecha_reporte").dt.month(),
    year=pl.col("fecha_reporte").dt.year()
).drop(["alcaldia_catalogo", "colonia_catalogo"])

In [7]:
df

shape: (138_640, 15)
┌──────────────┬──────────────┬──────────────┬──────────────┬───┬─────────────┬─────┬───────┬──────┐
│ folio        ┆ fecha_regist ┆ id_reporte   ┆ fecha_report ┆ … ┆ colonia     ┆ day ┆ month ┆ year │
│ ---          ┆ ro_incidente ┆ ---          ┆ e            ┆   ┆ ---         ┆ --- ┆ ---   ┆ ---  │
│ str          ┆ ---          ┆ str          ┆ ---          ┆   ┆ str         ┆ i8  ┆ i8    ┆ i32  │
│              ┆ datetime[ns] ┆              ┆ datetime[ns] ┆   ┆             ┆     ┆       ┆      │
╞══════════════╪══════════════╪══════════════╪══════════════╪═══╪═════════════╪═════╪═══════╪══════╡
│ 20210107-012 ┆ null         ┆ null         ┆ 2021-01-07   ┆ … ┆ LAS         ┆ 7   ┆ 1     ┆ 2021 │
│ 9            ┆              ┆              ┆ 00:00:00     ┆   ┆ ARBOLEDAS   ┆     ┆       ┆      │
│ 20210101-000 ┆ null         ┆ null         ┆ 2021-01-01   ┆ … ┆ EJERCITO DE ┆ 1   ┆ 1     ┆ 2021 │
│ 8            ┆              ┆              ┆ 00:00:00     ┆   ┆ ORIENTE (U  ┆     ┆       ┆      │
│              ┆              ┆              ┆              ┆   ┆ HAB) I      ┆     ┆       ┆      │
│ 20210101-002 ┆ null         ┆ null         ┆ 2021-01-01   ┆ … ┆ 2DA         ┆ 1   ┆ 1     ┆ 2021 │
│ 0            ┆              ┆              ┆ 00:00:00     ┆   ┆ JALALPA     ┆     ┆       ┆      │
│              ┆              ┆              ┆              ┆   ┆ TEPITO      ┆     ┆       ┆      │
│              ┆              ┆              ┆              ┆   ┆ (AMPL)      ┆     ┆       ┆      │
│ 20210101-004 ┆ null         ┆ null         ┆ 2021-01-01   ┆ … ┆ CRISTO REY  ┆ 1   ┆ 1     ┆ 2021 │
│ 8            ┆              ┆              ┆ 00:00:00     ┆   ┆             ┆     ┆       ┆      │
│ 20210101-004 ┆ null         ┆ null         ┆ 2021-01-01   ┆ … ┆ UN HOGAR    ┆ 1   ┆ 1     ┆ 2021 │
│ 9            ┆              ┆              ┆ 00:00:00     ┆   ┆ PARA CADA   ┆     ┆       ┆      │
│              ┆              ┆              ┆              ┆   ┆ TRABAJADOR  ┆     ┆       ┆      │
│ …            ┆ …            ┆ …            ┆ …            ┆ … ┆ …           ┆ …   ┆ …     ┆ …    │
│ I-20240131-0 ┆ 2024-02-01   ┆ R-20240201-0 ┆ 2024-02-01   ┆ … ┆ MARIA       ┆ 1   ┆ 2     ┆ 2024 │
│ 483          ┆ 00:00:00     ┆ 066          ┆ 00:00:00     ┆   ┆ ESTHER ZUNO ┆     ┆       ┆      │
│              ┆              ┆              ┆              ┆   ┆ DE          ┆     ┆       ┆      │
│              ┆              ┆              ┆              ┆   ┆ ECHEVERRI…  ┆     ┆       ┆      │
│ I-20240131-0 ┆ 2024-02-01   ┆ R-20240131-0 ┆ 2024-01-31   ┆ … ┆ EL ROSARIO  ┆ 31  ┆ 1     ┆ 2024 │
│ 485          ┆ 00:00:00     ┆ 598          ┆ 00:00:00     ┆   ┆             ┆     ┆       ┆      │
│ I-20240131-0 ┆ 2024-02-01   ┆ R-20240131-0 ┆ 2024-01-31   ┆ … ┆ NUEVA SANTA ┆ 31  ┆ 1     ┆ 2024 │
│ 489          ┆ 00:00:00     ┆ 605          ┆ 00:00:00     ┆   ┆ MARIA       ┆     ┆       ┆      │
│ I-20240131-0 ┆ 2024-02-01   ┆ R-20240131-0 ┆ 2024-01-31   ┆ … ┆ CAMPESTRE   ┆ 31  ┆ 1     ┆ 2024 │
│ 492          ┆ 00:00:00     ┆ 606          ┆ 00:00:00     ┆   ┆ POTRERO     ┆     ┆       ┆      │
│ I-20240131-0 ┆ 2024-02-01   ┆ R-20240131-0 ┆ 2024-01-31   ┆ … ┆ CONSTITUCIO ┆ 31  ┆ 1     ┆ 2024 │
│ 493          ┆ 00:00:00     ┆ 609          ┆ 00:00:00     ┆   ┆ N DE 1917   ┆     ┆       ┆      │
└──────────────┴──────────────┴──────────────┴──────────────┴───┴─────────────┴─────┴───────┴──────┘

In [24]:
df_result = df.select(
    pl.col("fecha_registro_incidente").alias('Fecha del registro del reporte'),
    pl.col("fecha_reporte").alias('Fecha reporte de fuga'),
    (abs(pl.col("fecha_registro_incidente") - pl.col("fecha_reporte"))).alias("Diferencia")
).filter(pl.col("Diferencia").is_not_null()) \
.sort(by="Diferencia", descending=True)

In [25]:
df_result.to_pandas().head()

  Fecha del registro del reporte Fecha reporte de fuga Diferencia
0                     2022-01-20            2023-04-11   446 days
1                     2022-01-10            2023-03-31   445 days
2                     2022-01-03            2023-03-23   444 days
3                     2022-01-03            2023-03-23   444 days
4                     2022-01-05            2023-03-23   442 days

In [20]:
df.group_by(pl.col("medio_recepcion").alias("Medio de Recepción")).agg(pl.count().alias("Total")).sort("Total", descending=True).head(10).to_pandas()

                          Medio de Recepción   Total
0                    Ciudadano (Call Center)  110960
1                      Campamento o Alcaldía   14080
2                   Redes Sociales (Twitter)    9729
3  C-5 (Protección Civil, Bomberos, Locatel)    1852
4                  Redes Sociales (Facebook)    1469
5                           Otros / Personal     332
6                     Medios de Comunicación      95
7                     Puesto de Mando Sacmex      54
8                 Redes Sociales (Instagram)      24
9                            Puesto de Mando      17